sudo: false
language: python
python:
- '3.6'
- '3.7'
- '3.8'
install: pip install tox-travis
script: tox
deploy:
  provider: pypi
  user: azpycli
  password:
    secure: SFg9WYAQgW9kMNtRBU1/qcWCF7QvhTw3hcKgsx4ZNbwGtBm0/Z6U09DzPwpgdpAK6ymmRv83I1Mf3CrqgJANkko/h/PZ8Hn55DdFWGFkAPabwhUaRERWFL40I6K7s4ARZId6lH7yI/5d0WWMJpnCsgriUmAYZlYbrgo7hsyX2n/XL0U9PtPWQi8X2IOLUVkNcm7zPmlNrLtq/v/nY+sxzI7AkupPMh8q0TE/wKzOjsijV7QQ9LK0cQe4fNoRfR4ryW+w7XZ59FE4r1CKixHzyMsGJ1/nQsBr4P1Wt1G5kEIerLf7evJhA53UJMfbMF4MZo1446hhL4ZRyXb7rSgjhc7mapupsptIiz+lQmthpnhxl2x2XzJzsJfnSjkmtIjkHjwzWIw3E2RRF/c+zkiGtinmo15sw7l5rK6v9adEBJG2HK694bOjCyB3QNDHomReP+b7d/PUHhuRiB02rmLuSYMz7y2ENhFCkyZ54ny5CGe1ZplLQE49baFBkW1e/LOc8JECmrV93+jAGXUJGP1dAlUlc57Cne/ird4BJ41qOGM6EGKygAWa9U4HnbvOBdPPja+5hMWqXeDLFL8uTmx8+G4UY5XC5CYCJ+35abgM8EmADvOuIvvZ5tw/Qwf9oZEJdcXq3Xr0AFs1m5ePWvpPZIA0ClKPxcxugXfg0XY69ZE=
  distributions: sdist bdist_wheel
  on:
    tags: true
